body {
    background-color: grey;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;

}

p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}